body {
    background-color: lightblue;

}

#headdiv {
    background-color: green;
    width: 100%;
    height: 100px;
}

#namediv {
    margin-top: 100px;
    margin-right: 350px;
    margin-left: 350px;

}

#coninfo {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    color: green;
}

#emaildiv{
    margin-right: 300px;
    margin-left: 300px;

}

#extradiv{
    margin-top: 50px;
    margin-right: 300px;
    margin-left: 300px;
}

#subbut{
    margin-top: 50px;
    margin-left: 900px;
}